
/*MOBILE-SCREENS*/

@media (min-width:320px) and (max-width:700px)  {
	.ip_navbar_nav {padding-left:25px;background:#333333;}
	.ip_navbar_nav {padding-left:25px;}
	.ip_logo{padding-left:10px;}
	.ip_account{width:100%;border:none;text-align:center;}
	.ip_search{width:100%;margin-bottom:10px;}
	.ip_navbar_nav{padding-left:0px;}
	.navbar-toggle .icon-bar { border: 1px solid #fff;}
	.navbar-collapse{background:#333333;}
	.ip_shrink {height: 80px;font-size: 16px;background:#333333;transition: all 1s ease;-webkit-transition: all 1s ease;}
	.ip_custom_container {width: auto;}
	.ip_search_pic{margin:0 auto;float:none;margin-top:20px;margin-bottom:20px;}
	.ip_search_detail{width:100%;}
	.ip_result_listing ul li{padding:0px;}
	.ip_search_detail{padding:0px;}
	.ip_know_more{width:100%;text-align:center;padding:0px;padding-bottom:30px;}
	.ip_search_ratting_price{width:100%;}
	.ip_footer_sub ul{padding-bottom: 30px;}
	.ip_footer_contact{border:none !important;}
	.ip_footer_contact_inner{width:100%;}
	.ip_footer_subscription{width:100%;padding-top:20px;}
	.ip_footer_subscription p {text-align: center;}
	.ip_search_detail h5{text-align: center;}
	.ip_other_settings p{padding-top:20px;padding-bottom: 20px;}
	.ip_sort_settings{padding-top: 20px;}
	.ip_filter_more_list li{margin-bottom: 10px;}
	.ip_sort_settings li{padding-right:8px;}
	.ip_detailed_tab_head ul li{padding:10px;}
	.ip_main_tab_head li{width:100%;}
	.ip_main_tab_content_inner{width:90%;margin:0 auto;}
	.ip_schedule_detail{padding: 10px;}
	.ip_schedule_week li{margin:0px;padding:0px;}
	.ip_profile_tab_name_detail{width:100% !important;}
	.ip_profile_tab_name{width:100% !important;text-align: center;}
	.ip_profile_tab_circle{margin:0 auto !important;float: none;}
	.ip_profile_tab_button{width:100%;text-align: center;}
	.ip_prescription_div ul li{width:100%;    }
	.ip_records_tab .ip_record_search_box{width:100%;border:none;}
	#ip_user_rating_form {width: 135px !important;margin: 0 auto;}
	.ip_day_listing li{height:auto;}
	.ip_nav_account_details{padding: 25px;}
	.ip_profile_list_div ul{width:100% !important;}
	.ip_profile_list_div ul li{padding-left: 10px;padding-right: 10px;}
	.ip_waiting_list_body p {text-align: justify;font-size: 12px;}
	.ip_waiting_list{width:100%;}
	.ip_search_home_div{display: none;}
	.ip_home_footer p{text-align: center;}
	.ip_home_footer .textRight{text-align: center !important;}
	.ip_home_footer ul{padding-top: 20px;padding-bottom:20px;}
}

/*TABS & PADS*/

@media (min-width:701px) and (max-width:900px)  {
}

/*DESKTOP*/

@media (min-width:1200px) and (max-width:1580px)  {
.ip_custom_container{width:1250px;padding-top: 15px;}
}

/*HDI-DESKTOP*/

@media (min-width:1581px) and (max-width:1980px)  {
	.container{width:80%;}
}
